 html {
      background: #018DED url(http://unsplash.it/1500/1000?image=881&blur=50);
      background-size: cover;
      font-family: 'helvetica neue';
      text-align: center;
      font-size: 10px;
    }

    body {
      margin: 0;
      font-size: 2rem;
      display: flex;
      flex: 1;
      min-height: 100vh;
      align-items: center;
    }

    .clock {
      width: 30rem;
      height: 30rem;
      border: 20px solid white;
      border-radius: 50%;
      margin: 50px auto;
      position: relative;
      padding: 2rem;
      box-shadow:
        0 0 0 4px rgba(0,0,0,0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2);
    }

    .clock-face {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translateY(-3px); /* account for the height of the clock hands */
    }

    .hand {
      width: 50%;
      height: 6px;
      background: black;
      position: absolute;
      top: 50%;


      transform-origin: 100%;
      transform: rotate(90deg);
      transition: all 0.05s;

    }

    .btn, .btn:link, .btn:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4.0rem;
      display: inline-block;
      margin: 1rem;
      font-size: 2rem;
      border-radius: 10rem;
      transition: all .2s;
      position: relative;
      animation: moveInBottom .5s ease-out .75s;
      animation-fill-mode: backwards;
    }
    .btn:hover{
      transform: translateY(-.3rem);
      box-shadow: 0 1.0rem 2rem rgba(0,0,0.2);
    
    }
    .btn:active{
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba(0,0,0.2);
    }
    .btn-white{
      background-color: #fff;
      color: #777;
    
    }
    .btn::after{
      content: "";
      display: inline-block;
      height: 100%;
      width:100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .3s;
    }
    .btn-white::after{
      background-color: #fff;
    }
    
    .btn:hover::after{
      transform: scaleX(1.5) scaleY(1.6);
      opacity: 0;
    }
    